---
import Layout from "../layouts/Layout.astro";
import { Button } from "@/components/ui/button";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
---

<Layout title="Welcome My Website">
  <main class="w-screen h-[90svh] bg-white dark:bg-[#01120A] text-black">
    <div
      class="text-center w-full mt-12 mx-auto max-w-sm md:max-w-lg lg:max-w-2xl dark:text-white font-dm-sans"
    >
      <h1 class="text-5xl font-semibold font-playfair">
        Financial Wellness For The Everyone!
      </h1>
      <p class="text-lg mt-6 font-medium font-dm-sans">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      </p>
      <Button
        variant="primary"
        className="text-2xl font-normal mt-6 font-dm-sans"
      >
        Book Me!
      </Button>
      <div class="mt-6 h-[20rem]">
        <Card className="h-full">
          <CardHeader>
            <CardTitle />
            <CardDescription />
          </CardHeader>
          <CardContent>
            <p>Insert Image Here</p>
          </CardContent>
          <CardFooter />
        </Card>
      </div>
    </div>
  </main>
</Layout>
