---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome My Website">
  <main class="w-screen h-[90svh] bg-slate-100 dark:bg-[#B7CE63] text-black">
    <h1>Hello statsndata!</h1>
  </main>
</Layout>
